* {
  box-sizing: border-box;
  padding: 0;
  margin: 0 !important;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: #22254b;
  font-family: "Poppins", sans-serif;
}

#root {
  max-width: 1920px;
  height: 10 0vh;
  width: 100%;
}
.main {
  max-width: 1920px;
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header_nav {
  padding: 0 20px;
}

.search {
  width: 20rem !important ;
  background-color: transparent !important;
  border: 2px solid #22254b !important;
  border-radius: 50px !important;
  color: #22254b;
  font-family: inherit;
  font-size: 1.2rem !important;
  padding: 0.5rem 1.5rem !important;
  
}
::placeholder {
    color: grey !important;
  font-weight: 600;
  letter-spacing: 2px;
}

.content {
  min-height: calc(100vh - 165px);
}

.movie-container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

header {
  background-color: #373b69;
  padding: 1rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 1%;
}

header h1 {
  color: white;
}

.movie {
  background-color: #373b69;
  border-radius: 3px;
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  position: relative;
  margin: 0.5rem !important;
  width: 300px;
}

.movie img {
  max-width: 100%;
}

.movie-info {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
}

.movie-info h6 {
  margin: 0 !important;
  color: #fff;
}
.movie-info span {
  margin: 0 !important;
  color: #fff;
}

.movie-over {
  background-color: #fff;
  color: #373b69;
  padding: 1rem;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  overflow: auto;
  max-height: 100%;
  transform: translateY(102%);
  transition: transform 0.3s ease-in-out;
}

.movie:hover .movie-over {
  transform: translateY(0%);
}
